body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container-fluid {
    background: #244458;
    width: 100%;
    height: 100%;
    position: relative;
    font-family: "Roboto", sans-serif;
}

.tweet_container {
    width: 50%;
    height: 80%;
    margin: 10vh 0 0 0;
    background-color: #70C3FF;
    border: 1px solid lightgray;
    position: relative;
}

#left {
    float: left;
}

#right {
    float: right;
}

.tweet {
    position: relative;
    width: 50%;
    height: 30%;
    transform: translate(50%, 100%);;
    background: white;
    border-radius: 15px;
}

.tweet:hover {
    width: 60%;
    height: 40%;
    box-shadow: -5px 5px 5px black;
    transform: translate(35%, 60%);
    transition: 0.25s linear;
}

.tweet_content{
    display:inline-block;
}

h1{
    font-family: 'Roboto', sans-serif;
    color:white;
    text-shadow: 2px 2px black;
    letter-spacing:2px;
    font-size:55px;
    left:711px;
    position: absolute;

}

.star {
    width: 70px;
    height: 50px;
    background: url(https://cssanimation.rocks/assets/images/posts/steps/twitter_fave.png) no-repeat;
    background-position: 0 0;
    cursor: pointer;
    animation:1s steps(55);
    float:right;
    border-radius: 15px;
}

.star:hover {
    background-position: -3519px 0;
    transition: background 1s steps(55);
}

.tweet-img {
    top: 3%;
    left: 3%;
    position: absolute;
}

.tweet_content{
    display:inline-block;
}

.user_name{
    position: absolute;
    top: 6%;
    left: 18%;
    font-weight: bold;
}

.text{
    position: absolute;
    box-sizing: border-box;
    text-align: left;
    top: 31%;
    left: 13%;
}

.retweets{
    position: absolute;
    bottom: 7%;
    left: 14%;
    font-size: 0.7em;
}

.search {
    margin-top: 1%;
    border-radius: 5px;
}

.btn {
    background-color: #2EC8FA;
    color: white;
}

.active {
    background: #48ACF2;
    box-shadow: -5px 5px 5px black;
}

.r-active {
    background-color: #48ACF2;
    box-shadow: 5px 5px 5px black;
}

